:root {
  --white: rgba(255, 255, 255, 1);

  --gray-5: rgba(202, 202, 202, 1);
  --gray: rgba(164, 164, 164, 1);
  --gray-10: rgba(61, 61, 61, 1);
  --gray-20: rgba(31, 31, 31, 1);
  --black: rgba(10, 10, 10, 1);

  --blue-5: rgba(0, 181, 204, 1);
  --green-5: rgba(178, 223, 40, 1);
}
